.product-item{
  border: 1px solid;
  width: 20rem;
  height: 30rem;
  text-align: center;
  padding-top: 1rem;
  border-radius: 6px;
  background-color: rgb(253, 251, 251);
}
.product-image{
  max-width: 80%;
  height: 20rem;
}
.product-item button{
  margin-right: 0.5rem;
}